<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>这是天天中奖的节奏啊！</title>
  <link rel="stylesheet" href="http://i3.dpfile.com/s/c/app/main/base-old.v10.css">
  <link rel="stylesheet" href="../../css/main.css"/>
  <script>var _gaq = [
    ['_setAccount', 'UA-464026-1'],
    ['_addOrganic', 'soso', 'w'],
    ['_addOrganic', 'sogou', 'query'],
    ['_addOrganic', 'yodao', 'q'],
    ['_addOrganic', 'bing', 'q'],
    ['_addOrganic', 'gougou', 'search']
  ], dpga = function (key) {
    _gaq.push(['_trackPageview', key || ''])
  }, pageTracker = {_trackPageview: dpga}, _hip = [];</script>
  <script
      src="http://i1.dpfile.com/combos/~s~js~g.mt.min.js,~s~js~g.dp.min.js,~s~j~dp.min.js,~s~j~ui.min.js,~s~j~page~header.min.js,~s~res~ga.min.js/2f12bca69ad73c5f13c48b841cec6082,0a1617b525a79238d37df0e9e32a51c9,3d81f36a4d0cd79be27bc5357e2629b0,56d2ee6376102346b2289f4039019ded,a474792fb4068121fc30bb114fadf839,bd65c7c2a3a896ef5903739c021bb277.js"></script>
</head>
<body>
<div class="main-content">
  <div class="banner">

    <div class="blocks">
      <div class="left-block">
        <div class="extend"></div>
      </div>
      <div class="center-block">
        <div class="inner">
          <div class="event-introduction">
            <h1>活动介绍</h1>

            <div class="info">
              <p>活动时间：2014.5.16 - 2014.5.31，每2周一期！</p>
              <p>奖品使用时间：2014.6.1 - 2014.6.30</p>
              <p>活动期间大众点评网会员点击“我要抽奖”就有机会获得由参与商户提供的奖品。</p>

              <p>1、每日每位会员只限参与一次；</p>

              <p>2、中奖会员凭短信到店享受优惠，请如实填写个人手机号。</p>

              <p>3、所有奖品不能累积使用，如出现同一中奖人或同一手机号码，中取多奖，只能选取其中一个奖进行兑换；</p>

              <p>4、如有问题，请拔打公司客服电话400 820 5527。</p>
            </div>
          </div>
          <a href="javascript:void(0);" id="draw" class="draw" title="我要抽奖">我要抽奖</a>
        </div>
      </div>
      <div class="right-block">
        <div class="extend"></div>
      </div>
    </div>
  </div>
  <div class="section1">
    <div class="blocks">
      <div class="left-block">
        <div class="extend"></div>
      </div>
      <div class="center-block">
        <div class="inner">
          <div class="prize-introduction" >
            <h1>本期奖品</h1>

            <div class="prizes">
              <b>饕餮大餐奖：菊田寿司价值140元的温馨双人套餐（10份）</b><br>
              <b>回味无穷奖：正本日本料理或味蜀吾老火锅现金券（10份）</b><br>
              <b>唇齿留香奖：毛家湾饭店（海印店）100元现金券（10份）</b><br>
              <b>色味俱佳奖：湛江海哥蠔庄100元现金券（10份）</b><br>
              <b>垂涎欲滴奖：古德菲力健身会所BODY JAM免费体验课程（20份）</b><br>
              <b>垂涎三尺奖：Luxury莱斯利造型设计Zero免冲洗护发素（20份）</b><br>
            </div>
          </div>
          <div class="event-ad-banner" style='margin-top:40px'>
            <a href="http://t.dianping.com/deal/6068624" target="_blank"><img src="img/banner.jpg" alt="广告位1"/></a>
          </div>
        </div>
      </div>
      <div class="right-block">
        <div class="extend"></div>
      </div>
    </div>
  </div>
  <div class="section2" style='margin-top:40px' >
    <div class="blocks">
      <div class="left-block">
        <div class="extend"></div>
      </div>
      <div class="center-block">
        <div class="inner">
          <div class="store-list" >
            <script id="store-list-template" type="text/template">
              <li class="item">
                <div class="image">
                  <a href="${link}" target="_blank">
                    <img src="${img}" alt="${name}"/>
                  </a>
                </div>
                <h1>
                  <a href="${link}" title="${name}" target="_blank">${name}</a>
                </h1>

                <p>${introduction}</p>

                <div class="more-group">
                  {%if more %}
                  <a class="view-more" href="javascript:void(0);">查看更多</a>

                  <div class="more-info">
                    <span class="info-text">${more}</span>
                    <span class="info-foot"></span>
                  </div>
                  {%/if%}
                </div>
                <div class="button-group">
                  {%if promotion %}
                  <a class="button button-promotions" href="${promotion}" target="_blank"></a>
                  {%else%}
                  <span class="button button-promotions-disabled"></span>
                  {%/if%}
                  {%if coupon %}
                  <a class="button button-coupon" href="${coupon}" target="_blank"></a>
                  {%else%}
                  <span class="button button-coupon-disabled"></span>
                  {%/if%}
                  {%if booking %}
                  <a class="button button-booking" href="${booking}" target="_blank"></a>
                  {%else%}
                  <span class="button button-booking-disabled"></span>
                  {%/if%}
                  {%if member %}
                  <a class="button button-member" href="${member}" target="_blank"></a>
                  {%else%}
                  <span class="button button-member-disabled"></span>
                  {%/if%}
                </div>
                {%if carousel && carousel.length %}
                <div class="carousel">
                  <ul class="container">
                    {%each carousel %}
                    <li><img src="${$value}" alt="${$index}"/></li>
                    {%/each%}
                  </ul>
                </div>
                {%/if%}
              </li>
            </script>
            <h1 class="title">商户展示</h1>
            <ul id="store-list" class="list"></ul>
          </div>
          
        </div>
      </div>
      <div class="right-block">
        <div class="extend"></div>
      </div>
    </div>
  </div>
</div>
<div class="dp-footer">
  <div class="inner">
        <span class="SI">
            <a class="logo" href="http://www.dianping.com/" target="_blank">
              <img alt="大众点评" src="../../img/logo.png">
            </a>2003-2013 dianping.com, All Rights Reserved.&nbsp;&nbsp;&nbsp;沪B2-20040012</span>
        <span class="SL">
            <a target="_blank" href="http://www.dianping.com" class="W">首页</a> |
            <a target="_blank" href="http://www.dianping.com/promo" class="W">优惠券</a> |
            <a target="_blank" href="http://t.dianping.com" class="W">团购</a> |
            <a target="_blank" href="http://q.dianping.com" class="W">签到</a> |
            <a target="_blank" href="http://www.dianping.com/card" class="W">会员卡</a> |
            <a target="_blank" href="http://www.dianping.com/group" class="W">社区</a> |
            <a target="_blank" href="http://www.dianping.com/events/m/index.htm" class="W">手机版</a> |
            <a target="_blank" href="http://www.dianping.com/help" class="W">帮助</a>
        </span>

    <p>免责声明：站内会员言论仅代表个人观点，并不代表本站同意其说法或描述，本站不承担由此引起的法律责任。</p>
  </div>
</div>
<script type="text/javascript" src="data.js"></script>
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/main.min.js"></script>
</body>
</html>